<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Atelier.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{315,133}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{315,133}}</string>
			<key>sourceSize</key>
			<string>{315,133}</string>
		</dict>
		<key>Autel.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,408},{314,134}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{314,134}}</string>
			<key>sourceSize</key>
			<string>{314,134}</string>
		</dict>
		<key>Bains.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,544},{314,134}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{314,134}}</string>
			<key>sourceSize</key>
			<string>{314,134}</string>
		</dict>
		<key>Bassin argileux.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,680},{314,134}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{314,134}}</string>
			<key>sourceSize</key>
			<string>{314,134}</string>
		</dict>
		<key>Caserne.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,816},{314,134}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{314,134}}</string>
			<key>sourceSize</key>
			<string>{314,134}</string>
		</dict>
		<key>Cavité.png</key>
		<dict>
			<key>frame</key>
			<string>{{318,816},{314,134}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{314,134}}</string>
			<key>sourceSize</key>
			<string>{314,134}</string>
		</dict>
		<key>Chantier.png</key>
		<dict>
			<key>frame</key>
			<string>{{318,408},{314,133}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{314,133}}</string>
			<key>sourceSize</key>
			<string>{314,133}</string>
		</dict>
		<key>Comptoir est.png</key>
		<dict>
			<key>frame</key>
			<string>{{318,543},{314,133}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{314,133}}</string>
			<key>sourceSize</key>
			<string>{314,133}</string>
		</dict>
		<key>Comptoir ouest.png</key>
		<dict>
			<key>frame</key>
			<string>{{318,678},{314,134}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{314,134}}</string>
			<key>sourceSize</key>
			<string>{314,134}</string>
		</dict>
		<key>Excavation.png</key>
		<dict>
			<key>frame</key>
			<string>{{634,678},{314,134}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{314,134}}</string>
			<key>sourceSize</key>
			<string>{314,134}</string>
		</dict>
		<key>Exploitation forestière.png</key>
		<dict>
			<key>frame</key>
			<string>{{634,814},{314,134}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{314,134}}</string>
			<key>sourceSize</key>
			<string>{314,134}</string>
		</dict>
		<key>Filon.png</key>
		<dict>
			<key>frame</key>
			<string>{{950,814},{314,134}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{314,134}}</string>
			<key>sourceSize</key>
			<string>{314,134}</string>
		</dict>
		<key>Fosse argileuse.png</key>
		<dict>
			<key>frame</key>
			<string>{{319,2},{314,134}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{314,134}}</string>
			<key>sourceSize</key>
			<string>{314,134}</string>
		</dict>
		<key>Friche.png</key>
		<dict>
			<key>frame</key>
			<string>{{319,138},{314,134}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{314,134}}</string>
			<key>sourceSize</key>
			<string>{314,134}</string>
		</dict>
		<key>Gisement.png</key>
		<dict>
			<key>frame</key>
			<string>{{319,274},{314,134}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{314,134}}</string>
			<key>sourceSize</key>
			<string>{314,134}</string>
		</dict>
		<key>Marché.png</key>
		<dict>
			<key>frame</key>
			<string>{{634,410},{314,134}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{314,134}}</string>
			<key>sourceSize</key>
			<string>{314,134}</string>
		</dict>
		<key>Mine.png</key>
		<dict>
			<key>frame</key>
			<string>{{635,2},{314,134}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{314,134}}</string>
			<key>sourceSize</key>
			<string>{314,134}</string>
		</dict>
		<key>Métier à tisser.png</key>
		<dict>
			<key>frame</key>
			<string>{{635,138},{314,134}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{314,134}}</string>
			<key>sourceSize</key>
			<string>{314,134}</string>
		</dict>
		<key>Officine.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,137},{315,134}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{315,134}}</string>
			<key>sourceSize</key>
			<string>{315,134}</string>
		</dict>
		<key>Palissade.png</key>
		<dict>
			<key>frame</key>
			<string>{{635,274},{314,134}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{314,134}}</string>
			<key>sourceSize</key>
			<string>{314,134}</string>
		</dict>
		<key>Presse.png</key>
		<dict>
			<key>frame</key>
			<string>{{950,410},{314,134}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{314,134}}</string>
			<key>sourceSize</key>
			<string>{314,134}</string>
		</dict>
		<key>Prêteur sur gages.png</key>
		<dict>
			<key>frame</key>
			<string>{{950,546},{314,135}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{314,135}}</string>
			<key>sourceSize</key>
			<string>{314,135}</string>
		</dict>
		<key>Scriptorium.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,273},{315,133}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{315,133}}</string>
			<key>sourceSize</key>
			<string>{315,133}</string>
		</dict>
		<key>Taverne.png</key>
		<dict>
			<key>frame</key>
			<string>{{1266,546},{314,134}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{314,134}}</string>
			<key>sourceSize</key>
			<string>{314,134}</string>
		</dict>
		<key>Théâtre.png</key>
		<dict>
			<key>frame</key>
			<string>{{1582,2},{314,134}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{314,134}}</string>
			<key>sourceSize</key>
			<string>{314,134}</string>
		</dict>
		<key>Tour de garde.png</key>
		<dict>
			<key>frame</key>
			<string>{{1266,2},{314,134}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{314,134}}</string>
			<key>sourceSize</key>
			<string>{314,134}</string>
		</dict>
		<key>Verrerie.png</key>
		<dict>
			<key>frame</key>
			<string>{{951,2},{314,134}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{314,134}}</string>
			<key>sourceSize</key>
			<string>{314,134}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>textures.png</string>
		<key>size</key>
		<string>{2048,1024}</string>
		<key>textureFileName</key>
		<string>textures.png</string>
	</dict>
</dict>
</plist>
